# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
# .terraform.lock.hcl
*.conf

# Ansible
*.retry
inventory/hosts.yml

# Secrets
*.pem
*.key
*secrets*
*password*

# OS
.DS_Store
*.swp
