# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
# .terraform.lock.hcl
*.conf

# Ansible
*.retry
inventory/hosts.yml
ansible/inventory/hosts.ini

# ISO Files
*.iso
*.bz2

# Secrets
*.pem
*.key
*secrets*
*password*

# OS
.DS_Store
*.swp
